[Unit]
Description=netsec-uebungssystem
Documentation=https://github.com/hhucn/netsec-uebungssystem

[Service]
ExecStart=/usr/bin/python3 -m netsecus
Type=simple
User=phihag
Group=phihag
WorkingDirectory=%LOCATION%

[Install]
WantedBy=multi-user.target
