<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
<style type="text/css">
.review {
	margin: 1em 0;
}
.review_comment {
	font-family: monospace;
	white-space: pre-wrap;
}
</style>
</head>
<body>
{{grader}} hat Deine Abgabe korrigiert. Du hast ingesamt {{template_helper.format_points(decipoints)}} von {{template_helper.format_points(max_decipoints)}} Punkten erhalten:

{% for review in reviews %}
<div class="review">

<div>
	<strong>{{review['task'].name}} ({{template_helper.format_points(review['decipoints'])}} / {{template_helper.format_points(review['task'].decipoints)}})</strong> ({{review['grader']}})</div>
	<div class="review_comment">{{review['comment']}}</div>
</div>
{% end %}

<p>Insgesamt hast Du die folgenden Punktzahlen erreicht:</p>

<table><tbody>
{% for track_sheet in student_track %}
<tr><td>Übung {{track_sheet["sheet_id"]}}</td><td>{% if "decipoints" in track_sheet %}{{template_helper.format_points(track_sheet["decipoints"])}} / {{template_helper.format_points(track_sheet["max_decipoints"])}} Punkte{% elif track_sheet["submitted"] %}Abgegeben (max {{template_helper.format_points(track_sheet["max_decipoints"])}} Punkte){% else %}- ({{template_helper.format_points(track_sheet["max_decipoints"])}} Punkte){% end %}</td></tr>
{% end %}
</tbody></table>

<p>Insgesamt hast Du damit {{template_helper.format_points(total_decipoints)}} von {{template_helper.format_points(total_max_decipoints)}} Punkten (<strong>{{int(round(total_decipoints * 100.0 / total_max_decipoints))}}%</strong>) erreicht.</p>

<p>Solltest Du Fragen oder Anmerkungen haben, kannst Du einfach auf diese E-Mail antworten.</p>

<hr />
<i>netsec-&Uuml;bungssystem</i>

</body>
</html>
