{%include ../../templates/header.html %}

<h1>Abgaben für Korrektor {{ grader }}</h1>

<table class="table">
	<tr>
		<th>Student</th>
		<th>Blatt</th>
		<th>Punkte</th>
	</tr>
	{% for sheet in sheets %}
		<tr>
			<td><a href="/student/{{ sheet.student_id }}">{{ sheet.student_id }}</a></td>
			<td><a href="/sheet/{{ sheet.sheet_id }}">{{ sheet.sheet_id }}</a></td>
			<td>{{ template_helper.format_points(sheet.decipoints) }} Punkte</td>
		</tr>
	{% end %}
</table>

{%include ../../templates/footer.html %}
