<!DOCTYPE html>
<html>
<head>
	<title>netsec-Übungssystem - Korrekturserver</title>
	<link rel="stylesheet" href="/static/style.css" />
	<!-- TODO what is this strange redirect? Use proper HTTP redirects -->
	{% if redirect %}
		<meta http-equiv="refresh" content="3; /detail/{{ identifier }}">
	{% end %}
</head>
<body>
	{% include ../../templates/menubar.html %}

	<h1>Punkte-Ver&auml;nderung der Abgabe von {{ identifier }}</h1>
	<br>
	{% if not error %}
		Die Punkte für <b>{{ identifier }}</b>, Blatt {{ sheetNumber }}, Aufgabe {{ taskNumber }}, wurden erfolgreich auf <b>{{ reachedPoints }}</b> gesetzt.
	{% elif error == "modified" %}
		Die Punkte für <b>{{ identifier }} konnten nicht gesetzt werden.</b> Die Punkte wurden nach Aufruf der Detail-Seite extern ver&auml;ndert.
	{% elif error == "overMaxPoints" %}
		Die Punkte für <b>{{ identifier }} konnten nicht gesetzt werden.</b> Die zu setzende Punktzahl liegt &uuml;ber der Maximalpunktzahl.
	{% end %}
	<br>
	Zur&uuml;ck zur <a href="/detail/{{ identifier }}">Abgabeseite von {{ identifier }}</a> oder zur <a href="/">&Uuml;bersicht</a>.
</body>
</html>
