{%include ../../templates/header.html %}


<form method="post" action="/sheet/create">
	{% module xsrf_form_html() %}
	<input type="submit" value="Neues Blatt erstellen">
</form>

<table>
	<tr>
		<th>Blatt-ID</th>
		<th>Aufgaben</th>
		<th>Abgabefrist</th>
		<th>Bearbeiten</th>
	</tr>
	{% for sheet, tasks in zip(sheets, sheets_tasks) %}
		{% if sheet.deleted %}
		<tr style="color:#AAA">
		{% else %}
		<tr>
		{% end %}
			<td><a href="/sheet/{{ sheet.id }}">Blatt {{ sheet.id }}</a></td>
			<td>
					{% for task in tasks %}
						{{ task.name }} ({{task.decipoints / 10.}})<br>
					{% end %}
			</td>
			<td>{{ sheet.end }}</td>
			<td>
				{% if sheet.deleted %}
				<form method="post" action="/sheet/{{ sheet.id }}/restore">
					{% module xsrf_form_html() %}
					<input type="submit" value="Wiederherstellen">
				</form>
				{% else %}
				<form method="post" action="/sheet/{{ sheet.id }}/delete">
					{% module xsrf_form_html() %}
					<input type="submit" value="Löschen">
				</form>
				{% end %}
			</td>
		</tr>
	{% end %}
</table>

<b>Insgesamt erreichbar: {{ float(total_score)/10 }} Punkte</b>

{%include ../../templates/footer.html %}
