{%include ../../templates/header.html %}

	<h1>Blatt {{ sheet.id }}</h1>
	{% if sheet.deleted %}
	<b>Dieses Blatt ist als gelöscht markiert.</b>
	{% end %}

	<form method="post" action="/sheet/{{sheet.id}}/editend">
		{% module xsrf_form_html() %}
		Abgabefrist: <input type="text" name="date" value="{{ sheet.end }}">
		<input type="submit" value="Speichern">
	</form>
	<table class="table">
		<tr>
			<th>Aufgabe</th>
			<th>max. Punkte</th>
			<th colspan="2"></th>
		</tr>
		{% for task in sheet_tasks %}
			<tr>
				<form method="post" action="/task/{{task.id}}/edit">
					{% module xsrf_form_html() %}
					<td>
						<input type="text" name="name" value="{{ task.name }}" style="width:100%">
					</td>
					<td>
						<input type="number" name="points" min="0" step="any" value="{{ task.decipoints / 10. }}">
					</td>
          <td>
              <input type="submit" value="Speichern">
          </td>
        </form>
        <td>
      		<form method="post" action="/task/{{task.id}}/delete">
						{% module xsrf_form_html() %}
            <input type="submit" value="Löschen" />
					</form>
				</td>
			</tr>
		{% end %}
		<tr>
			<td colspan="5">
				<hr>
			</td>
		</tr>
		<tr>
			<form method="post" action="/sheet/{{sheet.id}}/task/create">
				{% module xsrf_form_html() %}
				<td>
					<input type="text" name="name" style="width:100%">
				</td>
				<td>
					<input type="number" name="points" min="0" step="any">
				</td>
				<td colspan="2">
					<input type="submit" value="Hinzuf&uuml;gen">
				</td>
			</form>
		</tr>
	</table>

{%include ../../templates/footer.html %}
