{%include ../../templates/header.html %}

	<h1>Student {{ student.id }}</h1>

	<ul class="alias_list">
		{% for alias in aliases %}
			<li>{{alias}}</li>
		{% end %}
	</ul>

	<table class="table">
		<tr>
			<th>Abgabe-ID</th>
			<th>Blatt</th>
			<th>Punkte</th>
		</tr>
		{% for subm in submissions %}
		<tr>
			<td>
				<a href="/submission/{{ subm["submission"].id }}">Abgabe {{ subm["submission"].id }}</a>
			</td>
			<td><a href="/sheet/{{ subm["submission"].sheet_id }}">Blatt {{ subm["submission"].sheet_id }}</a></td>
			<td>
				{{ template_helper.format_points(subm["student_score"]) }} von {{ template_helper.format_points(subm["total_score"]) }} Punkten
				({{ template_helper.format_percent(subm["student_score"]/subm["total_score"]) }})
			</td>
		</tr>
		{% end %}
	</table>

	<b>Insgesamt wurden {{ template_helper.format_points(student_total_score) }} von {{ template_helper.format_points(reachable_total_score) }} Punkten erreicht.</b>
	Dies entspricht {{ template_helper.format_percent(student_total_score / reachable_total_score) if reachable_total_score else "0 Punkten" }}

	<p><a href="/merge/{{student.id}}/select">Mergen ...</a> <a href="/contact/{{student.id}}">Kontaktieren ...</a></p>


{%include ../../templates/footer.html %}
