{%include ../../templates/header.html %}

	<h1>Student {{ student.id }}</h1>

	<ul class="alias_list">
		{% for alias in aliases %}
			<li>{{alias}}</li>
		{% end %}
	</ul>

	<table class="table">
		<tr>
			<th>Abgabe-ID</th>
			<th>Blatt</th>
			<th>Punkte</th>
		</tr>
		{% for subm in submissions %}
		<tr>
			<td>
				<a href="/submission/{{ subm.id }}">Abgabe {{ subm.id }}</a>
			</td>
			<td><a href="/sheet/{{ subm.sheet_id }}">Blatt {{ subm.sheet_id }}</a></td>
		</tr>
		{% end %}
	</table>

{%include ../../templates/footer.html %}
