{%include ../../templates/header.html %}

<table>
	<tr>
		<th>Student-ID</th>
		<th>Alias</th>
	</tr>
	{% for student in students %}
		<tr>
			<td><a href="/student/{{ student.identifier }}">{{ student.identifier }}</a></td>
			<td>{{ student.alias }}</td>
		</tr>
	{% end %}
</table>

<form method="post" action="/students/create">
	{% module xsrf_form_html() %}
	<input type="text" name="id" placeholder="Student-ID">
	<input type="submit" value="Hinzufügen">
</form>

{%include ../../templates/footer.html %}
