{%include ../../templates/header.html %}

<table>
	<tr>
		<th>Student-ID</th>
		<th>Namen</th>
		<th>Abgaben</th>
	</tr></thead>
	<tbody>
	{% for fs in full_students %}
		<tr>
			<td><a href="/student/{{ fs.student.id }}">{{ fs.student.id }}</a></td>
			<td><ul class="alias_list">{% for alias in fs.aliases%}
				<li><a href="/student/{{ fs.student.id }}">{{ alias }}</a></li>
			{% end %}
			</ul></td>
			<td><ul class="submission_list">{% for subm in fs.submissions%}
				<li>
					<a href="/submission/{{ subm.id }}">Abgabe {{ subm.id }}</a>
				</li>
			{% end %}
			</ul></td>
		</tr>
	{% end %}
	</tbody>
</table>

{%include ../../templates/footer.html %}
