{%include ../../templates/header.html %}

<h1>Abgabe {{ submission.id }}</h1>
Von <a href="/student/{{ submission.student_id }}">Student {{ submission.student_id }}</a>
für <a href="/sheet/{{ submission.sheet_id }}">Blatt {{ submission.sheet_id }}</a>,
abgegeben {{ submission.time }}

<table>
  <tr>
    <th>Datei-ID</th>
    <th>Hash</th>
    <th>Name</th>
  </tr>
  {% for file in files %}
  <tr>
    <td>{{ file.id }}</td>
    <td>{{ file.hash }}</td>
    <td>{{ file.filename }}</td>
  </tr>
  {% end %}
</table>

{%include ../../templates/footer.html %}
