{%include ../../templates/header.html %}

<h1>Abgabe {{ submission["id"] }}</h1>
Von <a href="/student/{{ submission["student_id"] }}">{{ alias }}</a>
für <a href="/sheet/{{ submission["sheet_id"] }}">Blatt {{ submission["sheet_id"] }}</a>,
abgegeben {{ template_helper.format_timestamp(submission["time"]) }}<br>
<br>

<form action="/submission/{{ submission["id"] }}/assign" method="post">
  {% module xsrf_form_html() %}
  Korrektor: <select name="grader">
  <option{% if not grader %} selected="selected"{% end %} value="">nicht zugewiesen</selected>
  {% for ag in available_graders %}
    <option value="{{ ag }}" {% if grader == ag %}selected="selected"{% end %}>{{ ag }}</option>
  {% end %}
  </select>
  <button role="submit">Setzen</button>
</form>

<h2>Nachricht</h2>

<textarea disabled="disabled" cols="70" rows="4">
  {{ mailtext }}
</textarea>

<h2>Dateien</h2>

<table>
  <tr>
    <th>Datei-ID</th>
    <th>Hash</th>
    <th>Größe</th>
    <th>Name</th>
  </tr>
  {% for file in files %}
  <tr>
    <td>{{ file.id }}</td>
    <td>{{ file.hash }}</td>
    <td>{{ file.size }}</td>
    <td>
      <a href="/download/{{ file.hash }}">{{ file.filename }}</a>
    </td>
  </tr>
  {% end %}
</table>

<h2>Korrektur</h2>

<form action="/submission/{{ submission["id"] }}/grade_all" method="post">
{% module xsrf_form_html() %}
<table>
<thead><tr><th>Aufgabe</th><th>Kommentar</th><th>Punktzahl</th><th>Korrektor</th></tr></thead>
<tbody>
{% for grt in graded_tasks %}
{% if grt["review_json"] %}
<input type="hidden" name="prev_json_{{ grt["task"].id }}" value="{{ grt["review_json"] }}" />
{% end %}
<tr>
  <th>{{ grt["task"].name }}</th>
  <td>
    <textarea name="comment_{{ grt["task"].id }}" placeholder="Kommentar" cols="70" rows="4">{% if grt["review"] %}{{ grt["review"]["comment"] }}{% end %}</textarea>
  </td>
  <td>
    <input type="number" name="points_{{ grt["task"].id }}" value="{% if grt["review"] %}{{ template_helper.format_points(grt["review"]["decipoints"])}}{% end %}" step="0.5">
     von {{ template_helper.format_points(grt["task"].decipoints) }}
  </td>
  <td>
    {% if grt["review"] %}
    {{ grt["review"]["grader"] }}
    {% end %}
</td>
</tr>
{% end %}
<tr>
  <th colspan="2"></th>
  <th colspan=2>{{ template_helper.format_points(reached_score) }} von {{ template_helper.format_points(total_score) }} Punkten</th>
</tr>
</tbody></table>

<button role="submit">Korrigieren</button>
</form>

{%include ../../templates/footer.html %}
