{%include ../../templates/header.html %}

<h2>Alle Abgaben</h2>

<table class="table">
	<tr>
		<th>Abgabe</th>
		<th>Blatt</th>
		<th>Student</th>
		<th>Abgabezeitpunkt</th>
	</tr>
{% for submission in submissions %}
	<tr>
		<td><a href="/submission/{{ submission["submission"].id }}">{{ submission["submission"].id }}</a></td>
		<td><a href="/sheet/{{ submission["submission"].sheet_id }}">{{ submission["submission"].sheet_id }}</a></td>
		<td>
			<a href="/student/{{ submission["submission"].student_id }}">
				{{ template_helper.format_student(submission["student"]) }}
			</a>
		</td>
		<td>{{ template_helper.format_timestamp(submission['submission'].time) }}</td>
	</tr>
{% end %}
</table>

<p>
	<a href="/submissions">Aktuelle Abgaben</a> &bullet;
	<a href="/submissions/all">Alle Abgaben</a> &bullet;
	<a href="/submissions/unfinished">Unbearbeitete Abgaben</a>
</p>


{%include ../../templates/footer.html %}
