{%include ../../templates/header.html %}

<h1>Abgabe {{ submission["id"] }}</h1>
Von <a href="/student/{{ submission["student_id"] }}">{{ alias }}</a>
für <a href="/sheet/{{ submission["sheet_id"] }}">Blatt {{ submission["sheet_id"] }}</a>,
abgegeben {{ template_helper.format_timestamp(submission["time"]) }}<br>
<br>

<form action="/submission/{{ submission["id"] }}/assign" method="post">
  {% module xsrf_form_html() %}
  Korrektor: <select name="grader">
  <option{% if not grader %} selected="selected"{% end %} value="">nicht zugewiesen</selected>
  {% for ag in available_graders %}
    <option value="{{ ag }}" {% if grader == ag %}selected="selected"{% end %}>{{ ag }}</option>
  {% end %}
  </select>
  <button role="submit">Setzen</button>
</form>

<h2>Dateien</h2>

<table>
  <tr>
    <th>Datei-ID</th>
    <th>Hash</th>
    <th>Größe</th>
    <th>Name</th>
  </tr>
  {% for file in files %}
  <tr>
    <td>{{ file.id }}</td>
    <td>{{ file.hash }}</td>
    <td>{{ file.size }}</td>
    <td>
      <a href="/download/{{ file.hash }}">{{ file.filename }}</a>
    </td>
  </tr>
  {% end %}
</table>

<h2>Korrektur</h2>

<form action="/submission/{{ submission["id"] }}/grade_all" method="post">
{% module xsrf_form_html() %}
<table>
<thead><tr><th>Aufgabe</th><th>Kommentar</th><th>Punktzahl</th><th>Korrektor</th></tr></thead>
<tbody>
{% for grade in grading %}
{% if grade["grading"] %}
<input type="hidden" name="prev_time_{{ grade["task"].id }}" value="{{ grade["grading"].time }}" />
<input type="hidden" name="prev_grader_{{ grade["task"].id }}" value="{{ grade["grading"].grader }}" />
<input type="hidden" name="prev_comment_{{ grade["task"].id }}" value="{{ grade["grading"].comment }}" />
<input type="hidden" name="prev_decipoints_{{ grade["task"].id }}" value="{{ grade["grading"].decipoints }}" />
{% end %}
<tr>
  <th>{{ grade["task"].name }}</th>
  <td>
    <textarea name="comment_{{ grade["task"].id }}" placeholder="Kommentar" cols="70" rows="4">{% if grade["grading"] %}{{ grade["grading"].comment }}{% end %}</textarea>
  </td>
  <td>
    <input type="number" name="points_{{ grade["task"].id }}" value="{% if grade["grading"] %}{{ float(grade["grading"].decipoints) / 10 }}{% end %}" step="0.5">
     von {{ template_helper.format_points(grade["task"].decipoints) }}
  </td>
  <td>
    {% if grade["grading"] %}
    {{ grade["grading"].grader }}
    {% end %}
</td>
</tr>
{% end %}
<tr>
  <th colspan="2"></th>
  <th colspan=2>{{ float(reached_score)/10 }} von {{ float(total_score)/10 }} Punkten</th>
</tr>
</tbody></table>

<button role="submit">Korrigieren</button>
</form>

{%include ../../templates/footer.html %}
