{%include ../../templates/header.html %}

<table class="table-border">
    <tr>
        <th>Blattname</th>
        <th>Abgabefrist</th>
        <th>Bearbeitungszeitraum</th>
    </tr>
    {% for sheet in sheets %}
        <tr>
            <td><a href="/sheet/{{ sheet.id }}">Blatt {{ sheet.id }}</a></td>
            <td>{{ sheet.submissionsFinished }} von {{ sheet.submissions }} bearbeitet.</td>
            <td>{{ sheet.timeEnd }}</td>
        </tr>
    {% end %}
</table>

{%include ../../templates/footer.html %}
